<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <settings>

      <!-- This is the Field ID of the Rules field added to the Placeholder template -->
      <setting name="KevinWilliams.PlaceholderSettingsRules.RulesFieldId"
               value="{F61C9B50-3BB9-42D5-BADE-3779F0B306FA}" />
      
      <!-- ID of the "allow" option -->
      <setting name="KevinWilliams.PlaceholderSettingsRules.AllowOptionId"
               value="{71BB501D-A207-4EFE-8D61-64D957580A0E}" />
      
      <!-- ID of the "do not allow" option -->
      <setting name="KevinWilliams.PlaceholderSettingsRules.DoNotAllowOptionId"
               value="{D8435539-AEC0-44AA-8DAF-A7F6FB7DCEDE}" />

    </settings>

    <pipelines>

      <!-- Replace the stock Sitecore GetAllowedRenderings processor in the getPlaceholderRenderings pipeline with ours -->
      <getPlaceholderRenderings>
        <processor patch:instead="*[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"
                   type="KevinWilliams.PlaceholderSettingsRules.Pipelines.GetPlaceholderRenderings.GetAllowedRenderingsProcessor, KevinWilliams.PlaceholderSettingsRules" />
      </getPlaceholderRenderings>

    </pipelines>
  </sitecore>
</configuration>
